html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}

header{
	background-color: #5ed2ff;
	text-align: center;
}

h1{
	font-size: 45px;
	color: white;
	text-shadow: 0 4px 20px black;
	margin: 0;
	text-transform: uppercase;
}

header img{
	border-radius: 10px;
	width: 250px;
	border: 4px solid #706e49;
	box-shadow: 0 10px 20px black;
}

.content{
	max-width: 100%;
	padding: 10px;
	background-color: coral;
	text-align: center;

}

img.big-image{
	box-shadow: 0 10px 10px black;
	border-radius: 10px;
	border: 4px solid #706e49;
	max-width: 80%;
	margin: 20px;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;

}

footer{
	padding: 10px;
	padding: 40px 20px;
	background-color: lightgrey;

}

footer ul{
	text-align: center;

}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}